.container {
  display: flex;
  gap: 15px;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(220, 220, 220);

  color: black;
  text-decoration: none;
}

.coverImage {
  /* Next.js Image 컴포넌트의 width/height 속성을 사용하므로 CSS에서는 크기 설정 안 함 */
  object-fit: cover; /* 이미지가 컨테이너에 맞게 조정되도록 */
}

.title {
  font-weight: bold;
}

.subTitle {
  word-break: keep-all;
}

.author {
  color: gray;
}
